 
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4f4f9;
    min-height: 100vh;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    color: #333;
 
}

 
.AppHeader {
    background-color: #ffb74d; 
    color: black;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 600px;
    height:50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: medium;
 
}

 
.AppTitle {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 500;
}

 
.LoadingMessage {
    font-size: 1.2rem;
    color: #888;
     
}


.Nav {
    display: flex;
    justify-content: center;
    background-color: yellow;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.NavItem {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.NavItem:hover {
    background-color: #388e3c;
    transform: scale(1.05);
}

.Button {
    background-color: #ffb74d;
    color: white;
    font-size: 1rem;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

 
.Button:hover {
    background-color: #ffa726;
    transform: scale(1.05);
}

 
.Button:active {
    background-color: #fb8c00;
    transform: scale(0.95);
}